* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* -------------------------------------------------------------- */

/* THIS WEBSITE IS DEVELOPED BY - Mohit Bagdi,  */
/* email - mohitbagdi280@gmail.com  */
/* linkedin - www.linkedin.com/in/mohit-bagdi-356463240/ */

/* -------------------------------------------------------------- */



/* 
font-family: 'Cormorant Garamond', serif;
font-family: 'Lavishly Yours', cursive;
font-family: 'Roboto', sans-serif; */


:root {
    --light: #ffffff;
    --green: #1E443E;
    --dark: #232323;
    --semi_dark: #616161;
    --orange: #CD997B;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    min-height: 100vh;
    color: var(--dark);
    /* 
    position: relative; */
}


html {
    scroll-behavior: smooth;
}



/* NAVBAR STARTS */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 60px;

    font-weight: bold;
    font-size: 14px;
    color: var(--dark);

    position: relative;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.3);
}

.nav_logo {
    width: 200px;

    display: flex;
    align-items: center;
}

.nav_logo>img {
    height: 60px;
}

.nav_items>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_items>ul>li {
    list-style: none;
}

.nav_items>ul>li>a {
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color: var(--dark);
    transition: all 0.3s ease-in-out;
}

.nav_email {
    width: 230px;
}

.nav_email>a {
    text-decoration: none;
    display: block;
    color: var(--dark);
}

.nav a:hover {
    color: var(--semi_dark);
}

.humburger {
    position: absolute;
    right: 30px;
    top: 21px;
    display: none;
}


.humburger-line {
    width: 30px;
    height: 3px;
    margin: 5px 0px;
    background-color: var(--dark);
}



/* NAVBAR ENDS */


/* HERO STARTS */

.khs-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #46585E; */
    /* background: linear-gradient(-90deg, #46585E, #46585ed4); */
    background-color: #566880;
    color: white;
    padding: 0px 60px;
    position: relative;
}



.khs-1-1 {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    margin: 0px 30px 0px 0px;
    animation: pop-out 1s ease 1 forwards;
    color: white;
}

@keyframes pop-out {
    0% {
        width: 100%;
    }

    100% {
        width: 40%;
    }

}


.khs-1-1>div {
    position: absolute;
    animation: slideShow 15s ease infinite;
    opacity: 0;
}

@keyframes slideShow {
    25% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

}

.khs-1-1>div:nth-child(1) {
    animation-delay: 0s;
}


.khs-1-1>div:nth-child(2) {
    animation-delay: 5s;
}

.khs-1-1>div:nth-child(3) {
    animation-delay: 10s;

}





.khs-1-2 {
    background: url(../assets/4FT.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 0%;
    /* height: calc(100vh - 93px); */
    height: 400px;
    /* box-shadow: 0px 5px 16px 4px rgba(0, 0, 0, 0.375); */
    animation: pop-in 1s ease 1 forwards;
}

@keyframes pop-in {
    0% {
        width: 0;
    }

    100% {
        width: 60%;
    }

}

.khs-1-1-1-1 {
    animation: header_data_upp 5s ease infinite;
}


@keyframes header_data_upp {
    0% {
        transform: translateY(60px);
        opacity: 0;
    }

    30% {
        transform: translateY(0px);
        opacity: 1;
    }

    80% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(-60px);
        opacity: 0;
    }

}

.khs-1-1-1-1 :nth-child(1) {
    transition-delay: 0s;
}

.khs-1-1-1-1 :nth-child(2) {
    transition-delay: 2.5s;
}

.khs-1-1-1-1 :nth-child(3) {
    transition-delay: 5s;
}

.khs-1-1-1-1>div {
    display: flex;
    align-items: flex-end;
}

.khs-1-1-1-1>div>h1 {
    font-size: 42px;
    margin: 10px 0px;
}

.khs-1-1-1-1>div>h1:nth-child(2) {
    font-size: 90px;
    margin: 0px 10px;
    color: white;
}

.khs-1-1-1-1>div:nth-child(2) {
    font-size: 20px;
    margin: 0px;
    color: white;
}

.khs-1-1-1-1>p {
    margin: 20px 20px 20px 0px;
    color: white;
}

.khs-1-1-1-1>a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
}


/* HERO ENDS */
 

/* FOOTER STARTS*/
.footer {
    background-color: #566880;
    width: 100%;
    height: 190px;
    color: var(--light);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;

    /* position: absolute;
    bottom: -190px; */
}


.footer>div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer>div:first-child>div {
    margin: 20px;
}

.footer>div>div>a>i {
    font-size: 20px;
    color: var(--light);
}

.footer>div:last-child {
    font-weight: lighter;
}

.footer>div:last-child>a {
    color: var(--light);
    text-decoration: none;
}

/* FOOTER ENDS*/



@media only screen and (max-width:1200px) {
    .nav {
        height: 70px;
        display: block;
        padding: 8px 0px 0px 0px;
        transition: all 0.9s ease;
    }

    .nav_logo {
        margin: 0px 0px 0px 30px;
    }

    .humburger {
        display: block;
    }

    .nav_items {
        background-color: var(--light);
        position: absolute;
        left: -100%;
        padding: 20px 0px;
        width: 100%;
        height: calc(100vh - 70px);

        transition: all 0.9s ease;

        z-index: 2;
    }

    .nav_email {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 500px;
        left: -100%;
        width: 100%;

        transition: all 0.9s ease;

        z-index: 2;
    }

    .nav_items>ul {
        flex-direction: column;
    }

    .nav_items>ul>li {
        margin: 10px 0px;
    }


    .nav_items_menu {
        left: 0;
    }

    .nav_email_menu {
        left: 0;
    }

    .khs-1 {
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px;
    }

    .khs-1-1 {
        position: absolute;
        /* top: 50% ;  */
        /* transform: translateY(-50%); */
        width: 60%;
        margin: 60px;
        z-index: 1;
        animation: none;
        color: black;
    }

    .khs-1-1-1-1>div>h1:nth-child(2) {
        color: rgb(0, 0, 0);
    }
    
    .khs-1-1-1-1>div:nth-child(2) {
        color: rgb(0, 0, 0);
    }
    
    .khs-1-1-1-1>p {
        color: rgb(0, 0, 0);
    }
    
    
    .khs-1-2 {
        width: 100%;
        /* background: url(../assets/dl01-10062_a_.webp) white no-repeat; */
        /* mix-blend-mode: lighten; */
        background-size: cover;
        background-position: center;
        height: calc(100vh - 70px);
        animation: none;
    }
}

@media only screen and (max-width:600px) {
    .khs-1-1 {
        width: 80%;
        margin: 20px;
    }

    .khs-1-1-1-1>div{
        align-items: baseline;
    }
    .khs-1-1-1-1>div>h1 {
        font-size: 30px;
    }

    .khs-1-1-1-1>div>h1:nth-child(2) {
        font-size: 40px;
    }

    

}